<script>
  import { cardImages } from "../stores/gallery.store";
  import * as camera from "nativescript-camera";
  import { Image } from "tns-core-modules/ui/image";

  export let src;
  export let i;
  let active = false;

  function handleShowOpenText() {
    cardImages.update(() => ({ selected: i }));
  }
</script>

<style>
  .image {
    width: 50%;
    padding: 5px;
  }
  /* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
  image {
    width: 100%;
  }
  .bgDarken {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    transition-duration: 0.3s;
  }
</style>

<flexboxLayout class="image">
  <absoluteLayout>
    <image on:tap={handleShowOpenText} stretch="fill" {src} />
    {#if $cardImages.selected == i}
      <flexboxLayout class="bgDarken" />
    {/if}
  </absoluteLayout>
</flexboxLayout>
