<frame id="detail-page-frame">
	<page>
		<actionBar title=" " flat="true"/>
		<stackLayout>
			<label class="info" horizontalAlignment="center" verticalAlignment="center" textWrap="true">
				<formattedString>
					<span text="Mensaje de Alerta!" fontWeight="Bold" />
				</formattedString>
			</label>

			<label class="detail" horizontalAlignment="center" verticalAlignment="center" textWrap="true">
				<formattedString>
					<span text="Este es un mensaje de Alerta para el usuario. De ésta forma se pueden mostrar las notificaciones importantes" />
				</formattedString>
			</label>

			<button text="Volver" on:tap="{ () => closeModal('hi from modal') }" />
		</stackLayout>
	</page>
</frame>

<script>
	import { closeModal } from 'svelte-native'
</script>

<style>
    
    .info {
        font-size: 20;
    }
	.detail {
        font-size: 18;
		width: 220;
    }
</style>