<page>
    <actionBar title="Alertas y Diálogos" >
    	<navigationButton
			text="Go back"
			color="black"
			android.systemIcon="ic_menu_back"
			on:tap={goBack} />
    </actionBar>

    <gridLayout>
		<scrollView orientation="vertical">
			<stackLayout orientation="vertical">

				<button text="Diálogo de Alerta" on:tap="{launchDialog}" />
				<button text="Diálogo de Confirmación" on:tap="{launchConfirmation}" />
				<button text="Diálogo de Prompt" on:tap="{launchPrompt}" />
				<button text="Diálogo exendido" on:tap="{launchModal}" />

				<button text="Volver" on:tap="{goBack}" />
			</stackLayout>
		</scrollView>

    </gridLayout>
</page>

<script>

    import Alert from './Alert.svelte'
	import { showModal, navigate, goBack } from 'svelte-native'
    import { alert, confirm, prompt, inputType } from '@nativescript/core/ui/dialogs'

	function launchModal() {
		showModal({ page: Alert, props: { msg: 'hi' } })
	}

    function launchDialog() {
		alert('Mensaje de alerta para mostrar')
        .then(() => {
            console.log("Alerta cerrada")
        })
	}

    function launchConfirmation() {
		confirm({
            title: "Título de Alerta",
            message: "Mensaje de la alerta",
            okButtonText: " Aceptar ",
            cancelButtonText: " Cancelar "
        }).then(res => {
            console.log(res)
        })
	}

    function launchPrompt() {
        prompt({
            title: "Título de Alerta",
            message: "Ingresa tu email",
            okButtonText: " Aceptar ",
            cancelButtonText: " Cancelar ",
            defaultText: " name@domain.com",
	        inputType: inputType.email
        }).then(res => {
            console.log(`Dialog result: ${res.result}, text: ${res.text}`)
        })
    }

</script>

<style>
</style>
