<page>
    <actionBar title="Formulario">
	    <navigationButton
			text="Go back"
			color="black"
			android.systemIcon="ic_menu_back"
			on:tap={goBack} />
    </actionBar>

    <gridLayout>
		<scrollView orientation="vertical">
			<stackLayout orientation="vertical">
				<label class="info" horizontalAlignment="center" textWrap="true">
					<formattedString>
						<span text="Datos Personales" />
					</formattedString>
				</label>
				<searchBar hint="Barra de busqueda.." text="{searchQuery}" on:textChange="{onTextChanged}" on:submit="{onSubmit}" />
				<textField text="{textFieldValue}" hint="Nombre completo..." />
				<textView text="Comentarios..." />

				<stackLayout orientation="horizontal">
					<label class="info" verticalAlignment="center"  textWrap="true">
						<formattedString>
							<span text="  Enviar informacion por mail" />
						</formattedString>
					</label>
					<switch checked="{true}" on:checkedChange={onCheckedChange} />
				</stackLayout>

				<label class="info" horizontalAlignment="center" textWrap="true">
					<formattedString>
						<span text="Ingrese la fecha:" />
					</formattedString>
				</label>
				<datePicker date="{someDate}" />

				<label class="info" horizontalAlignment="center" textWrap="true">
					<formattedString>
						<span text="Ingrese el horario de entrada:" />
					</formattedString>
				</label>
				<timePicker hour="{selectedHour}" minute="{selectedMinute}" />

				<button text="Volver" on:tap="{goBack}" />
			</stackLayout>
		</scrollView>

    </gridLayout>
</page>

<script>
	import { goBack } from 'svelte-native'

	let textFieldValue;
	let selectedHour;
	let selectedMinute;
	let someDate;
	let searchQuery;

	function onCheckedChange() {
		console.log("onCheckedChange")
	}

	function onTextChanged() {
		console.log("onTextChanged")
	}

	function onSubmit() {
		console.log("onSubmit")
	}

</script>

<style>
    .info {
        font-size: 18;
    }
</style>
