<page>
    <actionBar title="Geolocalización">
	    <navigationButton
			text="Go back"
			color="black"
			android.systemIcon="ic_menu_back"
			on:tap={goBack} />
    </actionBar>

    <gridLayout>
        <label horizontalAlignment="center" class="info" textWrap="true">
            <formattedString>

                <span text="Latitud: {item}" />
                <span text="Longitud: {item2}" />
               
            </formattedString>
		</label>
         <button text="Refresh" on:tap={refresh} />

    </gridLayout>
</page>

<script>
	import { goBack } from 'svelte-native'
    import * as geolocation from "nativescript-geolocation";
    import { Accuracy } from "tns-core-modules/ui/enums";
    import { Template } from 'svelte-native/components';
    let listOfItems = ['11111111'];
    let item, item2;

   

    // Obtener permisos
    geolocation.enableLocationRequest();

    // Obtener ubicacion actual;
    geolocation.getCurrentLocation({ desiredAccuracy: Accuracy.high, maximumAge: 5000, timeout: 20000 })

    // Refrescar ubicacion;
    refresh(); 



    function refresh() {
        let that = this;
        geolocation.getCurrentLocation({
            desiredAccuracy: Accuracy.high,
            maximumAge: 5000,
            timeout: 10000
        }).then(function (loc) {
            if (loc) {
                console.log("location: longitude" + loc.longitude);
                console.log("location: latitude" + loc.latitude );

                item = loc.latitude + "\n";
                item2 = loc.longitude + "\n";

                that.locations.push(loc);
            }
        }, function (e) {
            console.log("Error: " + (e.message || e));
        });
    }

</script>

<style>
    .info {
        font-size: 18;
        margin: 20px;
    }
</style>
