<script>
  import ImageCard from "../components/ImageCard.svelte";
  import { goBack } from "svelte-native";

  function handleOpenImage() {}
  function handleScroll({ scrollY }) {}
</script>

<style>
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
  }
</style>

<page>
  <actionBar title={`GUTrade - ImageGallery`}>
    <navigationButton
      text="Go back"
      color="black"
      android.systemIcon="ic_menu_back"
      on:tap={goBack} />
  </actionBar>
  <scrollView orientation="vertical" on:scroll={handleScroll}>
    <flexboxLayout class="container">
      {#each new Array(20).fill(0) as d, i}
        <ImageCard {i} src={`https://picsum.photos/id/${i}/200/300`} />
      {/each}
    </flexboxLayout>

  </scrollView>
</page>
