<script>
import { ToastPosition, ToastDuration } from 'nativescript-toasty';
import {navigate, goBack } from 'svelte-native'
import {postLoginRequest, showToast} from '../scripts/restful_services'
import { isAndroid, isIOS } from "tns-core-modules/platform"
import * as application from 'tns-core-modules/application'
import {Color} from 'tns-core-modules/color'

const ctx = application.android.context;
var Toast = android.widget.Toast;

var hide_login_form = false
var hide_login_info = true

var usr_text_field = ""
var passwd_text_field = ""

const view = require("tns-core-modules/ui/core/view");


var response_login = {
        personOfInterestFullName : "Loading...",
        personOfInterestIdentifier : "Loading...",
        lastMarkPointOfInterestName : "Loading...",
        lastMarkType : "Loading...",
        lastMarkTypeDescription : "Loading...",
        LastMarkDate : "Loading..."
}


function goToLoginInfo() {
    
 if(usr_text_field.length > 0 && passwd_text_field.length > 0) {

     postLoginRequest(usr_text_field, passwd_text_field).then(responseLogin => {
      response_login = responseLogin

      if(response_login.personOfInterestFullName.length > 0) {
        hide_login_form = true
        hide_login_info = false
      }
    })
 } else {
     if(isIOS) {
          var toasty = require('nativescript-toasty').Toasty;
          var toast = new toasty({ text: 'Usuario o contraseña vacía' })
            .setTextColor('#ffffff')
            .setBackgroundColor('#c4c6c8')
            .setToastDuration(ToastDuration.LONG)
            .setToastPosition(ToastPosition.BOTTOM)
          toast.show()
     } else {
         Toast.makeText(ctx, 'Usuario o contraseña vacía', Toast.LENGTH_LONG).show()
     }
 }
    
}

function goBackFromLoginInfo() {
    hide_login_form = false
    hide_login_info = true
}

</script>

<style>
  .container {
    width: 100%;
    height: 100%;
    
    justify-content: center;

    align-items: center;
  }
  .container .form {
    width: 90%;
    padding: 50px 15px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
  }
  .textField {
    margin: 20px;
    background-color: rgb(250, 250, 250);
    padding: 30px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
  }
  .textField:focus {
    background-color: rgb(240, 240, 240);
    border-bottom-color: var(--primary) !important;
  }
  .form label.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
  }
  button {
    background-color: var(--secondary);
  }
  label.header {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
  }
</style>


<page actionBarHidden={true}>
  <flexboxLayout class="container">
    <stackLayout class="form" androidElevation="5">
    {#if !hide_login_form}
      <label class="title">Obtener información de Login</label>
      <textField id = "usr" class="textField" hint="Ingrese su usuario" bind:text = "{usr_text_field}"/>
      <textField
        class="textField"
        secure={true}
        hint="Ingrese su pasdsasword" 
        bind:text = "{passwd_text_field}"/>
      <button text="Acceder" on:tap="{goToLoginInfo}" />
      <button text="Volver" on:tap="{goBack}" />
    {/if}

    {#if !hide_login_info}
     <label class="header">Nombre de persona de interés</label>
     <label class="info" text="{response_login.personOfInterestFullName}"/>
     <label class="header">ID de persona de interés</label>
     <label class="info" text="{response_login.personOfInterestIdentifier}"/>
     <label class="header">Punto de interés</label>
     <label class="info" text="{response_login.lastMarkPointOfInterestName}"/>
     <label class="header">Tipo de marca</label>
     <label class="info" text="{response_login.lastMarkType}"/>
     <label class="header">Descripción de la marca</label>
     <label class="info" text="{response_login.lastMarkTypeDescription}"/>
     <label class="header">Fecha de la marca</label>
     <label class="info" text="{response_login.LastMarkDate}"/>

     <button text="Volver" on:tap="{goBackFromLoginInfo}" />
    {/if}
    </stackLayout>
  </flexboxLayout>
</page>

