<script>
  import Main from "./Main.svelte";
  import MemberSide from "./Member.svelte";
  import { navigate } from "svelte-native";
  function handleNavigate() {
    navigate({
      page: Main
      // page: MemberSide
    });
  }
  let message = "";
</script>

<style>
  .container {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    justify-content: center;

    align-items: center;
  }
  .container .form {
    width: 90%;
    padding: 50px 15px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
  }
  .textField {
    margin: 20px;
    background-color: rgb(250, 250, 250);
    padding: 30px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
  }
  .textField:focus {
    background-color: rgb(240, 240, 240);
    border-bottom-color: var(--primary) !important;
  }
  .form label.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
  }
  button {
    background-color: var(--secondary);
  }
</style>

<page actionBarHidden={true}>
  <flexboxLayout class="container">
    <stackLayout class="form" androidElevation="5">
      <label class="title">Iniciar Sesión</label>
      <textField class="textField" hint="Ingrese su email" />
      <textField
        class="textField"
        secure={true}
        hint="Ingrese su pasdsasword" />
      <button text="Ingresar" on:tap={handleNavigate} />
    </stackLayout>
  </flexboxLayout>
</page>
