<script>
  import { navigate } from "svelte-native";
  import Alerts from "./Alerts.svelte";
  import Form from "./Form.svelte";
  import ImagesGallery from "./ImagesGallery.svelte";
  import Login from "./Login.svelte";
  import Geolocation from "./Geolocation.svelte";
  import MemberPanel from "./Member.svelte";
  import RestfulServices from './RestfulServices.svelte';

  let message = "Blank Svelte Native App";
  function showDetailWithProps() {
    navigate({
      page: Form,
      props: { message: "Hello from master" }
    });
  }

  function showAlerts() {
    navigate({
      page: Alerts,
      props: { message: "Hello from master" }
    });
  }

  function showGallery() {
    navigate({
      page: ImagesGallery,
      props: { message: "Hello from master" }
    });
  }

  function showLogin() {
    navigate({
      page: Login,
      props: { message: "Hello from master" }
    });
  }

  function onTapMenu() {
    navigate({
      page: Login,
      props: { message: "Hello from master" }
    });
  }

function showGeo() {
    navigate({
      page: Geolocation,
      props: { message: "Hello from master" }
    });
  }

  function goToServices() {
    navigate({
      page: RestfulServices,
      props: { message: "Hello from master" }
    });
  }
</script>

<style>
  .container {
    background-color: #e9f5ed;
  }
</style>

<page>
  <actionBar title="GU Hoteles">

    <actionItem
      on:tap={onTapMenu}
      ios.systemIcon="16"
      ios.position="right"
      text="Logout"
      android.position="popup" />
  </actionBar>

  <gridLayout class="container">
    <stackLayout>

      <button text="Formulario" on:tap={showDetailWithProps} />
      <button text="Alertas y diálogos" on:tap={showAlerts} />
      <button text="Galería de imágenes" on:tap={showGallery} />
      <button
        text="Area de miembros"
        on:tap={() => navigate({ page: MemberPanel })} />
      <button text="Login" on:tap={showLogin} />
      <button text="Servicios" on:tap={goToServices} />
      <button text="Geolocalización" on:tap={showGeo} />

    </stackLayout>
  </gridLayout>
</page>
<page>
  <label>TEXT.</label>
</page>
