<script>
  import * as camera from "nativescript-camera";
  import ImagesGallery from "./ImagesGallery.svelte";
  import { navigate, goBack } from "svelte-native";
  import { alert } from "@nativescript/core/ui/dialogs";
  let image;
  async function handleTakeAPicture() {
    try {
      await camera.requestPermissions();
      image = await camera.takePicture();
    } catch (e) {
      await alert("An error was ocurred");
    }
  }
</script>

<style>
  .container {
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #e9f5ed;
  }
  .container label {
    font-size: 25;
  }
  .buttonContainer {
    margin-top: 5%;
  }
  button {
    padding: 5px 30px;
  }
  .primary {
    background-color: var(--primary);
    color: #fff;
  }
</style>

<page>
  <actionBar title="GUTrade - MemberPanel">
    <navigationButton
      text="Go back"
      color="black"
      android.systemIcon="ic_menu_back"
      on:tap={goBack} />
  </actionBar>
  <flexboxLayout class="container">
    <image src={image} width="200" />
    <label>Welcome to the Member Panel</label>
    <flexboxLayout class="buttonContainer">
      <button
        class="primary"
        on:tap={handleTakeAPicture}
        text="Take a picture" />
    </flexboxLayout>
  </flexboxLayout>
</page>
