<script>
import {navigate, goBack } from 'svelte-native'
import { Template } from 'svelte-native/components'
import {getPokemonRequest} from '../scripts/restful_services.js'
import LoginService from './LoginService.svelte'

var hide_btn_grid = false
var hide_pk_grid = true

var pokeList = ["Loading..."]

function hideGrid () {
     hide_btn_grid = true
     hide_pk_grid = false

     getPokemonRequest().then(value => {
      pokeList = value.split("/")
    })
  }

function goBackFromPkService () {
     hide_btn_grid = false
     hide_pk_grid = true
  }

function goToLoginService() {
    navigate({
      page: LoginService,
      props: { message: "Hello from master" }
    });
  }

</script>

<style>
    .info {
        font-size: 18;
    
    }
</style>

<page>
    <actionBar title="Consumo de servicios" >
    	<navigationButton
			text="Go back"
			color="black"
			android.systemIcon="ic_menu_back"
			on:tap={goBack} />
    </actionBar>

{#if !hide_btn_grid}
    <gridLayout>
		<scrollView orientation="vertical">
			<stackLayout orientation="vertical">

                <button text="Servicio Pokemon" on:tap="{hideGrid}" />
                <button text="Servicio de Login" on:tap="{goToLoginService}" />
				<button text="Volver" on:tap="{goBack}" />
			</stackLayout>
		</scrollView>

    </gridLayout>
{/if}

{#if !hide_pk_grid}
    <gridLayout>
			<stackLayout orientation="vertical">
                 <listView id = "poke_list" items="{pokeList}" on:itemTap="" height = "90%">
	               <Template let:item>
		               <!-- Shows the list item label in the default color and style. -->
		               <label horizontalAlignment="center" verticalAlignment="center" textWrap="true" text="{item}" />
	               </Template>
                </listView>
			</stackLayout>
      <button text="Volver" verticalAlignment="bottom" on:tap="{goBackFromPkService}" />
    </gridLayout>
{/if}
</page>